/* 
fieldset { 
	border:1px solid green;
	margin-botton:1px;
	width:44.2em;
}
*/

legend {
  padding: 0.2em 0.5em;
  border:1px solid green;
  color:green;
  font-size:90%;
  text-align:left;
}

#writing_add_form .singlecol {padding:1em;}
#writing_add_form .twocol {float:left; width:20em; padding:1em;}
#writing_add_form fieldset label {clear:both;display:block;margin:3px 0;}
#writing_add_form label {float:right;}

#writing_edit_form .singlecol {padding:1em;}
#writing_edit_form .twocol {float:left; width:20em; padding:1em;}
#writing_edit_form fieldset label {clear:both;display:block;margin:3px 0;}
#writing_edit_form label {float:right;}

